@using Kendo.Mvc.UI;
@model BassWebV3.ViewModels.ReportsIndex

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Reports";
}

<style>
    .k-tabstrip > .k-tabstrip-items .k-item {
        background-color:aliceblue;
        border-top:0.1px solid silver;
        border-left:0.1px solid silver;
        border-right:0.1px solid silver;
        border-radius:3px;
        margin-left:2px;
        padding:2px;
        font-weight:normal;
        height:22px!important;
    }
     :after{
        background-color:lavender;
        border-top:0.1px solid lavender;
        border-left:0.1px solid lavender;
        border-right:0.1px solid lavender;
    }
     .k-tabstrip > .k-tabstrip-items .k-state-active.k-item .k-link{
         background-color:#526a7f;
         padding:1px;
         color:white;
         font-weight:bold;
         height:20px!important;
     }
     .k-widget k-grid k-display-block{
         /*height: calc(100vh - 150px);*/
         font-size:14px!important;
        
     }
     span.k-icon.k-i-calendar{
         margin-top:-15px!important;
     }
    .k-tabstrip-wrapper{
        padding:1px;
    }
    .k-reset .k-tabstrip-items{
        height:15px!important;
    }
    .k-item k-state-default{
        height:15px!important;
    }
    .k-grid tr td {
        border-bottom: 0.1px solid lightgray;
        white-space: normal;
        font-size: 14px;
        line-height: 12px !important;
    }
    .k-grid .k-state-selected {
        background-color: #3379b5 !important;
        color: #fff;
    }
    .k-grid .k-alt.k-state-selected {
        background-color: #3379b5 !important;
        color: #fff;
    }
    #rpttabstrip-1, #rpttabstrip-2, #rpttabstrip-3, #rpttabstrip-4, #rpttabstrip-5 {
        padding: 0px !important;
        height: calc(inherit - 30px);
        width:calc(inherit - 20px);
        overflow:auto;
    }
    input.k-textbox{
        width:100px!important;
        height:25px!important
    }
</style>
<script>
    function getdates() {
        return { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val() }
    }
    function getRptdate() {
        return { FromDate: $("#FromDate").val() }
    }
    function getprams() {
        return { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), BfWorkerIDs: $("#AllRptBfUsers").data("kendoMultiSelect").value().join(',') }
    }
    function getbwprams() {
        return { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), BfWorkerIDs: $("#RptBfUsers").data("kendoMultiSelect").value().join(',') }
    }
    function getbwdprams() {
        return { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), BfWorkerID: 0 }
    }
    function DateChanged(e) {
       var start = $('#FromDate').val();
        var date = new Date(start);
        var d = (new Date(1900 + date.getFullYear(), date.getMonth() + 1, 0)).getDate();
        date.setDate(date.getDate() + d);
        var datePickerTo = $("#ToDate").data("kendoDatePicker");
        datePickerTo.value(date);
    }
    function GetReports() {
        $("#gridFAOutLook").data("kendoGrid").dataSource.read();
        $('#gridFAOutLook').data('kendoGrid').refresh();

        $("#gridInmates").data("kendoGrid").dataSource.read();
        $('#gridInmates').data('kendoGrid').refresh();
        $("#reportspan").html($("#FromDate").val() + " - " + $("#ToDate").val());

        $("#gridInmatesDetails").data("kendoGrid").dataSource.read();
        $('#gridInmatesDetails').data('kendoGrid').refresh();

        GetProductivityReport($("#gridInmatesProductivity").data("kendoGrid"));

        GetBWProductivityReport($("#gridBWProductivity").data("kendoGrid"));
    }
    function GetDispayClientNames(obj) {
        var datestring = kendo.toString($("#FromDate").val() + " - " + $("#ToDate").val());
        if (obj.length > 0) {
            var users = ""
            for (var i = 0; i < obj.length; i++) {
                if (users === "")
                    users = "[" + obj[i].BenefitWorkerName + "]";
                else
                    users = users + ";[" + obj[i].BenefitWorkerName + "]";
            }
            datestring = users + " " + datestring;
        }
        return datestring;
    }
    function GetProductivityReport(e) {
        var grid = $("#gridInmatesProductivity").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        var datestring = kendo.toString($("#FromDate").val() + " - " + $("#ToDate").val());
        var items = $("#AllRptBfUsers").data("kendoMultiSelect").dataItems();
        if (items.length > 0) {
            datestring = GetDispayClientNames(items);
        }
        $("#rptprodspan").html(datestring);
    }
    function GetBWProductivityReport() {
        var grid = $("#gridBWProductivity").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        var datestring = kendo.toString($("#FromDate").val() + " - " + $("#ToDate").val());
        var items = $("#RptBfUsers").data("kendoMultiSelect").dataItems();
        if (items.length > 0) {
            datestring = GetDispayClientNames(items);
        }
        $("#rptprodspan").html(datestring);
    }
   function GetNewDate(obj) {
        return new Date(obj.getFullYear(), obj.getMonth(), 1)
    }
     $(".k-textbox").click(function (e) {
        e.preventDefault();
    })   
</script>

<div class="editContent" style="border-top: thin solid; padding-top:1px;height:28px;">
   <div style="float:left;">&nbsp;&nbsp;<b>Select Report Date Ranges</b>&nbsp;&nbsp;</div>&nbsp;&nbsp;
   &nbsp;&nbsp;@Html.Label("From ")&nbsp;&nbsp;
        @(Html.Kendo().DatePicker()
.Name("FromDate").Format("MM/dd/yyyy").Value(Model.FromDate).Events(e => e.Change("DateChanged"))
.HtmlAttributes(new { @style = "width:120px;height:22px;"}))
        &nbsp;&nbsp;@Html.Label("To ")&nbsp;&nbsp;
        @(Html.Kendo().DatePicker()
.Name("ToDate").Format("MM/dd/yyyy").Value(Model.ToDate)
.HtmlAttributes(new { @style = "width:120px;height:22px;"}))
        @(Html.Kendo().Button().Name("GetReport").Events(e => e.Click("GetReports")).Content("Get Report")
           .HtmlAttributes(new { @style = "height:22px;" }))
    </div>
<div style="height:91vh;width:inherit;">
    @(Html.Kendo().TabStrip()
         .Name("rpttabstrip")
         .HtmlAttributes(new { style = "min-height:50vh; padding: 0; height:inherit!important;width:100vw!important;" })
         .Animation(animation =>
             animation.Open(effect =>
                 effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("Facility Outlook Report").Selected(true).Content(
          @Html.Partial("_FacilityOutlookReport").ToHtmlString()).HtmlAttributes(new { style = "padding:0px!important;" });
          tabstrip.Add().Text("Inmates Released Summary Report").Content(
         @Html.Partial("_InmatesReleasedReport").ToHtmlString()).HtmlAttributes(new { style = "padding:0px;!important" });
          tabstrip.Add().Text("Inmates Released Details Report").Content(
          @Html.Partial("_InmatesReleasedDetailsReport").ToHtmlString()).HtmlAttributes(new { style = "padding:0px!important;" });
          tabstrip.Add().Text("Productivity Report").Content(
         @Html.Partial("_InmatesProductivityReport", Model).ToHtmlString()).HtmlAttributes(new { style = "padding:0px!important;overflow:hidden;" });
          tabstrip.Add().Text("Benefit Worker Productivity Report").Content(
         @Html.Partial("_BWProductivityReport", Model).ToHtmlString()).HtmlAttributes(new { style = "padding:0px!important;" });
      }
    ))
</div>

<script type="text/javascript">
    $("#bntOpenDateRange").kendoButton({
        icon: "calendar"
    });
</script>


